/* Media queries */

@media (0px <= width <= 150px) {
	button{
		padding: .5em 0em;
	}
	select{
		padding: .45em 0;
	}
	h1, h2, h3, h4, h5, h6, p {
		word-break: break-all;
	}
}

@media (0px <= width <= 50px) {
    body {
      font-size: .15em;
    }
   }
   @media (51px <= width <= 100px) {
    body {
      font-size: .2em;
    }
   }
   @media (101px <= width <= 150px) {
    body {
      font-size: .25em;
    }
   }
   @media (151px <= width <= 160px) {
    body {
      font-size: .30em;
    }
   }
   @media (161px <= width <= 180px) {
    body {
      font-size: .35em;
    }
   }
   @media (181px <= width <= 200px) {
    body {
      font-size: .4em;
    }
   }
   @media (201px <= width <= 250px) {
    body {
      font-size: .45em;
    }
   }
   @media (251px <= width <= 300px) {
    body {
      font-size: .55em;
    }
   }
   @media (301px <= width <= 350px) {
    body {
      font-size: .65em;
    }
   }
   @media (351px <= width <= 400px) {
    body {
      font-size: .8em;
    }
   }
   @media (401px <= width <= 450px) {
    body {
      font-size: .9em;
    }
   }
   @media (451px <= width <= 500px) {
    body {
      font-size: .9em;
    }
   }
   @media (501px <= width <= 540px) {
    body {
      font-size: 1em;
    }
   }
   
   /* @media (541px <= width <= 640px) {
    body {
      font-size: 1.2em;
    }
   }
   @media (641px <= width <= 740px) {
    body {
      font-size: 1.2em;
    }
   }
   @media (741px <= width <= 840px) {
    body {
      font-size: 1.2em;
    }
   } */